# Site
HOME_LAT=52.254094
HOME_LON=-2.149912
SITE_NAME=Droitwich, UK
SITE_ALT=50m
TZ=Europe/London

# ADS-B hardware
READSB_DEVICE_TYPE=rtlsdr
READSB_RTLSDR_DEVICE=00001000
READSB_GAIN=auto

# Feeder IDs
PIAWARE_FEEDER_ID=3107a0b9-8c77-45b8-aacc-1314509621e6
ADSX_UUID=43fef96d-8e36-4bbc-8069-8da9e02fa4c0
ADSX_SITENAME=Droitwich

# Hostnames
ADSB_HOST=ads-b.asdfx.us
LEADERBOARD_HOST=lb.asdfx.us

# Leaderboard
DUMP1090_URL=http://ultrafeeder/data/aircraft.json
POLL_INTERVAL=5
CLEANUP_HOURS=48

# Traefik
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERT_RESOLVER=cloudflare
